﻿@model GeradorLinhaEnvironmentAws.Domain.Models.Configuracoes

@{
    ViewData["Title"] = "Gerador";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="AppSettings" class="col-form-label col-form-label-sm"></label>
                <textarea asp-for="AppSettings" class="form-control form-control-sm text-box multi-line" rows="12"></textarea>
                <span asp-validation-for="AppSettings" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-sm">Gerar</button>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12">
                <label asp-for="EnvironmentVariables" class="col-form-label col-form-label-sm"></label>
                <input asp-for="EnvironmentVariables" class="form-control form-control-sm" />
                <span asp-validation-for="EnvironmentVariables" class="text-danger"></span>
            </div>
        </div>
       
    </div>
}